/* Base Styles ---------------- */

*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  max-width:1260px;
  margin:0 auto;
}

h1{
  text-align:center;
}

#info{
  margin-top:5%;
  height:500px;
}

.col{
  float:left;
  position:relative;
  border:1px solid black;
  background-color:#d3d3d3;
  padding:2.5%;
  height:60%;

}

#chicken{
  width:30%;
  margin-left:2%;
  background-color:#4A7023;
}

#beef{
  width:31%;
  margin-left:2.5%;
  margin-right:2.5%;
  background-color:#DAA520
}

#sushi {
  width:30%;
  margin-right:2%;
  background-color:#00B2EE;
}

h4.menu{
  position:absolute;
  top:0%;
  right:0%;
  width:30%;
  margin:0px;
  padding-bottom:1%;
  text-align:center;
  border-left:1px solid black;
  border-bottom:2px solid black;
  padding-top:2%;
  font-size:1.25em

}

#chicken>h4{
  background:#A62A2A;
}

#beef>h4{
  background:#CD5C5C;
}

#sushi>h4{
  background:#FFFF7E;
}

p{
  text-align:left;
  margin-bottom:0px;
}






/* Medium size media queries --------*/

@media screen and (min-width:768px) and (max-width:991px){


  #chicken,
  #beef{
    width:45%;
    margin-right:2.5%;
    margin-left:2.5%;
    height:48%;
  }




  #sushi{
    margin-top:3%;
    width:95%;
    margin-right:2.5%;
    margin-left:2.5%;
    height:170px;
    padding-top:5%;

  }

  #sushi h4{
    width:18%;
  }




}




/* Mobile Size media queries -------- */

@media screen and (max-width:766px) {

  #chicken,#beef,#sushi{
    width:90%;
    margin:2.5% 5%;
    height:43%;
    padding-top:5%;

  }
  .col p{

  }

}
