body{
  font-size:16px;
  color:green;
  background-color:#61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav{
  background-color:#f6b319;
  border-radius:0;
  border:0;
}

#menufood{
  border-top:0px;
}

#menu{
  height:1000px;
  background-color:green;
  margin:1%;
}

#chicken{
  background-color:gold;
}

#sushi{
  background-color:blue;
}

#beef{
  background-color:green;
}
