body{
  font-size:16px;
  color:green;
  background-color:#61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav{
  background-color:#f6b319;
  border-radius:0;
  border:0;
}

#menufood{
  border-top:0px;
}

li{
  color:black;
}

li:first-child{
  background-color:gold;
}

li:nth-child(2){
  background-color:lightblue;
}
li:last-child{
  background-color:lightgreen;
  padding-bottom:0;
}

#menu{
  height:1000px;
  margin:1%;
}

#chicken{
  background-color:gold;
}

#sushi{
  background-color:lightblue;
}

#beef{
  background-color:lightgreen;
}
